---
title: Home
description: The latest app to help you find new friends with common interests.
image: /images/topImage.jpeg
bottom_image: /images/bottomImage.jpeg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Find your Adventure at the Aska Mountain Cabin</h1>
			<p class="subtext editable">Our Three bedroom, two bath mountain home in the heart of Blue Ridge and steps away from Aska Mountain Recreation Area.</p>
			<div class="cta button alt"><a href="#">Book Today!</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Property Highlights</h2>
				<ul>
					<li>Sleeps up to 5 Guests</li>
					<li>Beautiful Hot Tub Overlooking the Forest</li>
					<li>Gourmet Kitchen for Entertaining</li>
				</ul>
			</div>
			<div class="image">
				<img class="editable" src="/images/imageHomepage1.jpeg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Aska Adventure Area</h2>
				<p class="editable">Aska Adventure Area, near Blue Ridge, GA, is a popular outdoor recreation destination known for its scenic hiking and mountain biking trails. The area spans 17 miles of trails that wind through the Chattahoochee National Forest, offering breathtaking views of mountains, rivers, and forests. It is also a hub for fishing, tubing, and other water-based activities along the Toccoa River.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/imageHomepage2.jpeg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">About Blue Ridge</h2>
				<p class="editable">Blue Ridge, GA, is a charming mountain town known for its stunning natural beauty, with access to the Appalachian Mountains and the scenic Blue Ridge Lake. The town offers a mix of outdoor activities, from hiking and fishing to scenic railway tours, along with a vibrant arts scene, boutique shopping, and farm-to-table dining. Its peaceful atmosphere and breathtaking views make it a perfect getaway for nature lovers and those seeking a relaxing mountain retreat.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/imageHomepage3.jpeg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Bring your family and friends and Enjoy this beautiful cabin TODAY!</h2>
				<p class="subtext editable">Fun, Exciting and Beautiful Cabin in Blue Ridge, GA in Aska Valley Near Taccoa River.</p>
				<div class="cta button alt"><a href="#">Book Now</a></div>
			</div>
		</div>
	</section>
</div>
